.item {
  display: flex;
  align-items: center;
  /* width: 300px; */
  padding: 15px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2), 0 16px 20px rgba(0, 0, 0, 0.2);
}

.item:not(:last-child) {
  margin-bottom: 10px;
}
.avatar {
  margin-right: 15px;
}
/* .name {} */
.status {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: 10px;
}
.online {
  background-color: green;
}
.ofline {
  background-color: red;
}
